* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .cabecalho{
    background-color: rgba(2, 2, 2, 0.5);
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;

  }

  .cabecalho ul {
    display:  flex;
    justify-content: flex-end;
    gap: 20px;
  }

  .cabecalho ul li{
    list-style-type: none;
  }

  .cabecalho ul li a{
    color: white;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 18px;
  }

  body{
    background-image: linear-gradient(120deg,  #fd5f53 0%, #ffb353 100%);
  }
  
  main{
    display: flex ;
    justify-content: center;
    padding: 10px;
  }

  .descricao-portal{
    color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .cadastro-dev{

    width: 30%;
    height: 700px;

    border: none;
    border-radius: 10px;
    padding: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  
    margin: auto;


    background-color: white;  
    box-shadow: 4px 4px 42px -22px rgba(0,0,0,0.75);

  }
  
  form {
    display: flex;
    gap: 20px;
    padding: 20px;
  }

  
  form fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    padding: 10px;
  }

  
  .dados-pessoais div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .dados-pessoais div input {
    border-radius: 5px;
    color: black;
    padding: 5px;
  }
  
  .dados-pessoais div input::placeholder {
    color: black;
  }
   
  
  .dados-profissionais .mod-trabalho,
  .mensagem,
  .experiencia {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  
  .form-botoes {
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    
  }
  
  .form-botoes input {
    border: none;
    width: 200px;
    height: 50px;
  }
  
  .form-botoes input[type="reset"] {
    border: 2px solid orange ;
    background-color: transparent;
    color: orange;
    font-size:18px;
  }
  
  .form-botoes input[type="submit"] {
    background-image: linear-gradient(120deg,  #fd5f53 0%, #ffb353 100%);
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  