*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cor-primaria: #ff6311;
    --cor-secundaria: #2C2B2B;
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    background-color: var(--cor-secundaria);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.cabecalho-menu a{
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}

.principal{
    background-image: url("../img/banner.png");
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

.principal-conteudo{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #FFFFFF;
    position: relative;
    top: 55%;
    left: 10%;
}

.principal-conteudo h1{
    font-size: 80px;
}

.principal-conteudo p{
    font-size:18px;
}

.principal-conteudo a{
    width: 150px;
    height: 35px;
    background-color: var(--cor-primaria);
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;

}

.card{
    background-color: black;
    width: 400px;
    height: 570px;
    color: #FFFFFF;
}

.card img{
    width: 100%;
}

.card-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: px;
}

.card-conteudo p{
    text-align: justify;
}

section{
    padding: 20px 50px;
}

.sessao-dance{
    background-color: var(--cor-primaria);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cabecalho-secao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.cabecalho-secao p{
    text-align: justify;
    padding: 10px;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}