*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cor-primaria: #ff6311;
    --cor-secundaria: #2C2B2B;
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    background-color: var(--cor-secundaria);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.cabecalho-menu a{
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}

.principal{
    background-image: url("../img/banner.png");
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

.principal-conteudo{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #FFFFFF;
    position: relative;
    top: 55%;
    left: 10%;
}

.principal-conteudo h1{
    font-size: 80px;
}

.principal-conteudo p{
    font-size:18px;
}

.principal-conteudo a{
    width: 150px;
    height: 35px;
    background-color: var(--cor-primaria);
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 390px;
    height: 555px;
    color: #FFFFFF;
    border-radius: 10px;
}

.card-sessao-dois{
    padding: 20px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    gap: 10%;
}

.card-img figure img{
    width: 100%;
    border-radius: 5px;
}

.card-img-sessao-dois{
    display: flex;
    justify-content: center; 
}

.card-conteudo, .card-conteudo-sessao-dois{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: px;
}

.card-conteudo-sessao-dois{
    gap: 15px;
}

.card-conteudo, .card-conteudo-sessao-dois p{
    text-align: justify;
}

section{
    padding: 20px 50px;
}

.sessao-dance, .sessao-price{
    background-color: var(--cor-primaria);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sessao-price{
    background-color: var(--cor-secundaria);    
}

.cabecalho-sessao, 
.cabecalho-sessao-dois{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.cabecalho-sessao, 
.cabecalho-sessao-dois,
p{
    text-align: justify;
    padding: 10px;
}

.container-cards, .container-cards-sessao-dois{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-conteudo-sessao-dois a{
    background-color: var(--cor-secundaria);
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    border-radius: 4px;
}

.card-conteudo-sessao-dois a:hover{
    background-color: #585858 ;
}

.section-amazing{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    color: white;
}

.container-amazing{
    display: flex;
    flex-direction: row;
}

.img-amazing{
    width: 50%;
}

.img-amazing figure img{
    width: 100%;
}

.conteudo-amazing{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 40px
}

.conteudo-amazing h3{
    font-size: 40px;
}

.conteudo-amazing p{
    font-size: 20px;
}

.conteudo-amazing a{
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    text-decoration: none;
    border-radius: 3px;
    color: #FFFFFF;
}

