body{
    margin: 0;
}

nav{
    background-color: black;
    height: 50px;
    width: auto;
    text-align: center;
}

nav ul{
    display: inline-block;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;

}

nav ul li a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.capa figure{
    padding: 0;
    margin: 0;
}

.capa img{
    padding: 0;
    display: block;
    margin: 0;
    height: 500px;
    width: 100%;

}

.capa h1{
    text-align: center;
}

.capa p{
    text-align: center;
    font-weight: bold;
}

#filme1 h2{
    text-align: center;
}

#filme1 img{
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 200px;
}

#filme1 p{
    text-align: center;
}

#filme1 {
    text-align: center;
}

#filme2 h2{
    text-align: center;
}

#filme2 img{
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 200px;
}

#filme2 p{
    text-align: center;
}

#filme2{
    text-align: center;
}

#filme3 h2{
    text-align: center;
}

#filme3 img{
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 200px;
}

#filme3 p{
    text-align: center;
}

#filme3{
    text-align: center;
}